body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body div.header {
    background-color: black;
    color: white;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}