* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    line-height: 1.7;
}

body div.header {
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

body div.container {padding: 80px; text-align: justify;}
body div.content {box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);padding: 20px;}

body div.footer {
    text-align: center;
    height: 200px;
    background-color: #000;
    color: #fff;
    width: 100%;
    line-height: 200px;
    font-weight: bold;
}